*{
  margin: 0;
  padding:0;
  font-family: "Lato", sans-serif;
}
h3 {
  letter-spacing: 5px;
  text-transform: uppercase;
  font: 20px "Lato", sans-serif;
  color: #111;
}
/* Navbar container */
.navbar {
  overflow: hidden;
  background-color: rgb(51, 51, 51);
  font-family: sans-serif;
}

/* Links inside the navbar */
.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* The dropdown container */
.dropdown {
  float: left;
  overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}

/* Add a red background color to navbar links on hover */
.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: #e57804;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}
  .logo img{
    width: 170px;
    margin-left:20px;
    margin-top:3px;
    margin-right:10px
  }
   .inquire-btn{
    margin-top: -8.75px;
    text-decoration: none;
    color: white;
    border-radius: 20px;
    border: 2px solid transparent;
    background-image: radial-gradient(circle at left,#e57804,#fbc904);
    background-clip: content-box,border-box;
  }
  .inquire-btn span{
    display: block;
    padding: 6px 15px;
  }
.home-page{
  width: 80%;
  height: 70%;
  top: 25%;
  left: 50px;
  position: absolute;
  color: white;
}
.home-text{
  width: 50%;
  float: left;
}
.home-text h1{
  letter-spacing: 5px;
  text-transform: uppercase;
  font-size: 40px;
  width: 600px;
  position: relative;
  margin-top: 20px;
  margin-bottom: 15px;
  margin-left: 40px;
}
.home-text p{
  width:375px;
  font-size:15px;
  line-height:25px ;
  margin: 30px 0 30px 40px;
  color: whitesmoke
}
.icon{
  position: absolute;
  top: 95%;
  width: 100%;
  text-align: center;
}
