*{
  margin: 0;
  padding:0;
  font-family: "Lato", sans-serif;
}

/* Parallax background */
.parallax {
  background-image:linear-gradient(rgb(0,0,0,0.55),rgb(0,0,0,0.55)), url("bikes.jpg");
  height: 100%; 
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.parallax-s {
  background-image:linear-gradient(rgb(0,0,0,0.55),rgb(0,0,0,0.55)), url("bikes.jpg");
  height: 50%; 
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.parallax-xs {
  background-image:linear-gradient(rgb(0,0,0,0.55),rgb(0,0,0,0.55)), url("bikes.jpg");
  height: 30%; 
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.parallax-xxs {
  background-image:linear-gradient(rgb(0,0,0,0.55),rgb(0,0,0,0.55)), url("bikes.jpg");
  height: 20%; 
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

body, html {
  height: 100%;
  margin: 0;
  font: 400 15px "Lato", sans-serif;
  color: #777;
  overflow-x: clip; /* Cut off white space to the right */
}

/* Navbar container */
#navbar {
  overflow: hidden;
  background-color: rgb(51, 51, 51);
  font-family: sans-serif;
}

/* Links inside the navbar */
#navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* The dropdown container */
#navbar .dropdown {
  float: left;
  overflow: hidden;
}

/* Dropdown button */
#navbar .dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}

/* Add a orange background color to navbar links on hover */
#navbar a:hover, .dropdown:hover, .dropbtn {
  background-color: #e57804;
}

/* Dropdown content (hidden by default) */
#navbar .dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
#navbar .dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a orange background color to dropdown links on hover */
#navbar .dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
#navbar .dropdown:hover .dropdown-content {
  display: block;
}

/* Navigation bar logo */
.logo img{
    width: 170px;
    margin-left:20px;
    margin-top:3px;
    margin-right:10px
}

/* Inquire button display*/
.inquire-btn{
    margin-top: -8.75px;
    text-decoration: none;
    color: white;
    border-radius: 20px;
    border: 2px solid transparent;
    background-image: radial-gradient(circle at left,#e57804,#fbc904);
    background-clip: content-box,border-box;
}
.inquire-btn span{
    display: block;
    padding: 6px 15px;
}

/* Hide the link that should open and close the topnav on small screens */
#navbar .icon {
  display: none;
}

/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 600px) {
  #navbar a:not(:first-child), .dropbtn {display: none;}
  #navbar a.icon {
    float: right;
    display: block;
  }
  #navbar .dropdown{
  width: 100%;} /* Makes nav bar wider, to accomodate dropdown, but looks wonky*/
}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 600px) {
  #navbar.responsive {position: relative;}
  #navbar.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  #navbar.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  #navbar.responsive .dropbtn {
    float: none;
    display: block;
    text-align: left;
}
}





/* Main home page section */
#home-page{
  width: 100%;
  height: 95%;
  position: absolute;
  color: white;

}
.home-text{
  float: left;
  margin-top: 20vh;
  width: 70%;
}
.home-text h1{
  letter-spacing: 5px;
  text-transform: uppercase;
  font-size: 40px;
  max-width: 600px; /* "max-width" makes text responsive */
  margin-top: 20px;
  margin-bottom: 15px;
  margin-left: 40px;
}
.home-text p{
  max-width:375px; /* "max-width" makes text responsive */
  font-size:15px;
  line-height:25px ;
  margin: 30px 0 30px 40px;
  color: whitesmoke
}

/* Carat scroll down icon before parallax block */
.icon-down{
  position: absolute;
  top: 90%;
  width: 100%;
  text-align: center;
  color: white;
}

/* Social media icons home page*/
.icon-social{
  float: right;
  padding-top: 23vh;
  padding-right: 40px;
  list-style: none;
}
.icon-social ul li{
  list-style: none;
  margin-top: 15px;
  text-align: center;
 }
.icon-social ul li a{
  color: white;
} 

/* Parallax white block*/
#scroll-box {
    color: #777;
    background-color:white;
    text-align:center;
    padding:50px 80px;
    text-align: justify;
}
#scroll-box h3 {
    text-align:center;
    letter-spacing: 5px;
    text-transform: uppercase;
    font: 20px "Lato", sans-serif;
    color: #111;
}
#scroll-box p{
    font: 400 15px/1.8 Lato, sans-serif;
    color: #777;
}
#scroll-box img{
  max-height: 700px;
}
@media screen and (max-width: 600px) {
  #scroll-box{
    padding: 50px 40px;
    
  }
}

/* Background image main heading*/
.parallax h1{
  margin: auto;
  padding: 50px;
  letter-spacing: 5px;
  text-transform: uppercase;
  font-size: 40px;
  color: white;
  position: relative;
  text-align: center;
}

/* Transparent block on pages */
.block{
  padding: auto;
  margin: auto;
  width: 75%;
  background-color: white;
  opacity: 85%;
  text-align:left;
  padding:50px 80px;
  font: 400 15px/1.8 Lato, sans-serif;
  color: rgb(78, 78, 78);
  overflow:auto;
}
.block h3{
  text-align:center;
  letter-spacing: 5px;
  text-transform: uppercase;
  font: 20px "Lato", sans-serif;
  color: #111;
}
@media screen and (max-width: 600px) {
 .block {
    padding: 50px 40px;
}}

/* Contact Us */
.contact-icons{
  color: #e57804;
  opacity: 100%;
}
#contact-us ol{
  list-style: none;
  text-align:center;
 }
#contact-us li{
  padding: 0px 0px 10% 0px; 
}


/* Footer */
footer {
  display: block;
  background-color: rgb(51, 51, 51);
  position: relative; 
  padding: 10px 10px 0px 10px;
  bottom: 0;
  width: 100%;
  height: 40px;
  text-align: center;
  font-family: sans-serif;
  color: rgb(128, 128, 128);
}

/* Responsive image size */
.responsive {
  max-width: 100%;
  height: auto;
}

/* POSITION ISSUE Position about us owner image */
/* About Us */
.flex {
  display: flex;
  float: left;
  width: 20vw;
  padding: 25px;
}

.flex2 {
  display: flex;
  padding: 50px;
  float: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

ul{
  list-style: none;
  text-align: center;
 }


/* Bikes */
.bikes{
  padding: 50px 80px;
 }
.bikes ul li{
  list-style: none;
}
.bikes a{
  color: #e57804;
}


/* Inquire submit button */
.submit input{
  border: none;
  color: white;
  padding: 8px 16px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 20px;
  background-image: radial-gradient(circle at left,#e57804,#fbc904);
 }


#form ul{
  text-align: left;
}

/* Service interest button to inquire form */
.interest-btn{
  text-decoration: none;
  padding: 14px 23px;
  color: white;
  border-radius: 20px;
  background-image: radial-gradient(circle at left,#e57804,#fbc904);
}



